@charset "UTF-8";

​

/* reset */

* {margin: 0; padding: 0;}

body {background:  rgb(239, 241, 238)} /*url("../images/bg.jpg")repeat-x;*/

ul,li{margin: 0;padding: 0;list-style:disc;}

a{text-decoration: none;} 

/* text-decoration: none; 링크 줄없애기 */

​

#wrap {width: 1200px; margin: 0 auto;}

#wrap header {height: 120px; margin-bottom:5%;} /*background: #fff;*/

​

/* 메뉴 */

#wrap header .menu{width: 900px; height: 120px; float: left;}

#wrap header .menu ul{float:right;}

#wrap header .menu ul li{float:left; margin-left: 40px; height: 120px; line-height: 120px;list-style:none;}

#wrap header .menu ul li a{color:#000; font-size:20px; font-weight: bold;}

#wrap header .menu ul li a:hover{

    color:rgb(105, 167, 185);

    border-bottom: 2px solid #999;

    padding-bottom: 5px;

}

#wrap section.profile {
  position: relative;
  left:20%;
  /*border: 1px solid green;*/
  height: 200px;
  margin-bottom: 50px;
}

#wrap section.profile .item{
  float: left;
  display: inline;
  /*border: 1px solid black;*/
  position: relative;
  z-index:1;
  height: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
}
  

#wrap section.profile .item img{
  height: 200px
}


#wrap section.profile .item ul{
  text-align:left;
}
#wrap section.profile .item ul li{
  font-size:20px;
  font-weight:bold;
}


​#wrap footer {height: 120px}

​
